<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <meta charset="UTF-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agencia</title>
        <link rel="stylesheet" type="text/css" th:href="@{index.css}">
    </head>

    <body>

        <nav class="navbar navbar-light" style="background-color:#A93226;">
            <a class="navbar-brand" style="color:white;" href="#">Sistema de Tracking</a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" style="color:white;" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:white;" href="#">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:white;" href="#">Rastrear</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:white;" href="#">Salir</a>
                </li>

            </ul>
        </nav>
        <br><!-- comment -->
        <br><!-- comment -->
        <br><!-- comment -->
        <br><!-- comment -->


        <div class="container h-100" style="background-color:lightgrey; width: 600px;">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-10 col-md-8 col-lg-6">
                    <!-- Form -->
                    <form action="" class="form" th:action="@{/guardar}" th:object="${agence}" method="post">
                        <p style="font-size:25px;">Datos de Agencia</p>
                        <br><!-- comment -->
                        <div class="form-group">
                            <label for="agencia">Nombre de Agencia:</label>
                            <label for="agencia" style="color:#A93226;">*</label>
                            <input type="text" class="input" id="agencia" placeholder="Agencia..." name="agencia" th:field="*{name}">
                        </div>
                        <br><!-- comment -->
                        <label for="agencia">Departamento:</label>
                        <label for="agencia" style="color:#A93226;">*</label>
                        <br><!-- comment -->
                        <select class="InputContainer" aria-label="Default select example" th:field="*{state}">
                            <option value="0">Seleccionar un departamento</option>
                            <option value="1">Ahuachapan</option>
                            <option value="0">Sonsonate</option>
                            <option value="1">Santa Ana</option>
                            <option value="0">Cabañas</option>
                            <option value="1">Chalatenango</option>
                            <option value="0">San Salvador</option>
                            <option value="1">La Union</option>
                            <option value="0">San Miguel</option>
                            <option value="1">Morazan</option>
                            <option value="0">La Paz</option>
                            <option value="1">Cuscatlán</option>
                            <option value="0">Usulután</option>
                            <option value="1">San Vicente</option>
                            <option value="0">La Libertad</option>

                        </select>
                        <br><!-- comment -->
                        <div class="form-group">
                            <label for="direccion">Direccion:</label>
                            <label for="agencia" style="color:#A93226;">*</label>
                            <br><!-- comment -->
                            <input type="text" class="input" id="direccion" placeholder="Direccion..." name="direccion" th:field="*{address}">

                        </div>
                        <br>
                         <label for="estado">Estado de la agencia:</label>
                         <br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Activa
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                Inactiva
                            </label>
                        </div>
                         <br>

                        <input type="submit" style="background-color:#34495E;" class="btn btn-danger" value="Crear" >
                        <button type="button" class="btn btn-danger">Cancelar</button>
                        <!-- End input fields -->

                    </form>
                    <!-- Form end -->
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </body>
</html>