<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header id="cabeza">
        <div>
            Sistema de tracking
        </div>
        <div>
            <a class="letras" href="">  Inicio  </a>
            <a class="letras" href="">Perfil</a>
            <a class="letras"href="">Rastrear</a>
            <a class="letras" href="">Salir</a>
        </div>
        
    </header>



    <div class="content">
        


    <div id="botones">
        <div id="usuario">

        Usuarios del Sistema
          
        </div >
        <div id="boton">
            <!--aqui manejare el controlador para ser redirigir a la vista crear y editar usuario-->
            <a id="btn1" href="">Añadir usuario</a>
            <a href ="crear_editar_usuarios.html"> ir al boton crear </a>
         
            <a id="btn2"href="">Regresar</a>
        </div>

        
    </div>


    <div class="table">
             <TABLE border>
    <TR>
       <TH class="lines">#</TH> <TH class="lines">Nombre</TH> <TH class="lines">Username</TH> <TH class="lines">Cargo</TH> <TH class="lines">Acciones</TH>
    </TR>
    <TR>
        <TD>1</TD> <TD></TD> <TD></TD><TD></TD><TD><a id="btn3" href="">Editar</a><a id="btn4" href="">Eliminar</a></TD>
    </TR>
    <TR>
        <TD>2</TD> <TD></TD> <TD></TD><TD></TD><TD><a id="btn3" href="">Editar</a><a id="btn4" href="">Eliminar</a></TD>
    </TR>
</TABLE>    


        </div>


    </div>
   
</body>
</html>