<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Inicia sesion</title>
</head>
<body>
    <div layout:fragment="content">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="text-center text-dark mt-5">Iniciar Sesión</h2>
        
        <div class="card my-5">
          <div style="margin: 1.5rem 1.5rem;" th:if="${param.error}"  >
            <di class="alert alert-danger">Credenciales incorrectas</di>
          </div>
          <form class="card-body cardbody-color p-lg-5" th:action="@{/auth/login}" method="post">
            <div class="mb-3">
              <p class="text-dark">Username: </p>
              <input name="username" type="text" class="form-control" id="Username" aria-describedby="emailHelp" placeholder="Username">
            </div>
            <div class="mb-3">
              <p class="text-dark"> Contraseña:</p>
              <input type="password" name="password" class="form-control" id="password"  placeholder="Ingrese su contraseña">
            </div>
            <div class="text-center"><button type="submit" class="btn btn-danger px-5 mb-5 w-100">Iniciar Sesión</button></div>
            <div id="emailHelp" class="form-text text-center mb-5 text-dark">¿No tienes cuenta? <a href="#" class="text-dark fw-bold"> Crear cuenta</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
