<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/reset.css">
    <title>DashboardCliente</title>
</head>
<body>
    <header class="cabecera">
        <div class="container">
            <nav class="listas">
                <p>Sistema de Tracking</p>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Perfil</a></li>
                    <li><a href="#">Rastrear</a></li>
                    <li><a href="#">Salir</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <article class="Datos">
            <div class="Datos-texto">
                <input type="text" placeholder="Ingrese el ID de su paquete">
            </div>
            <div class="Datos-boton">
                <input type="button" value="Rastrear" class="boton">
            </div>
        </article>
        <div>
            <ul class="iconos">
                <li>
                    <h2>Rastrear</h2>
                    <img src="/image/Caja.png" alt="Imagen de una caja">
                </li>
                <li><h2>Ayuda</h2>
                    <img src="/image/Ayuda.png" alt="Imagen de un icono de interrogacion">
                </li>
            </ul>
        </div>
    </main>
</body>
</html>