<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Datos de envio</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row justify-content-center">
            <form class="col-10 card p-4" style="background-color: #D9D9D9;" th:object="${paquete}" th:action="@{/package/create}" method="post">
                <center><h3>Crear nuevo envío</h3></center>
                <hr>
                <div class="row d-flex justify-content-between">
                    <div class="col-5">
                        <div class="mb-3">
                            <label class="form-label" for="agencia">Nombre del remitente:</label>
                            <input type="text" class="form-control agencia" id="name1" placeholder="Nombre" th:field="*{senderCustomerName}">
                        </div>
                        <div class="mb-3">
                            <label for="selectAgencias" class="form-label">Agencia salida</label>
                            <select class="form-select" id="selectAgencias" aria-label="Default select example" th:field="*{shippingAgencyId}">
                                <option th:each="i : ${agencias}" th:value="${i.agencyId}" th:text="${i.name}">
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="agencia">Peso del paquete:</label>
                            <input type="number" step="0.01" class="form-control agencia" id="name1" placeholder="0" th:field="*{packageWeight}">
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="mb-3">
                            <label class="form-label" for="agencia">Nombre del destinatario:</label>
                            <input type="text" class="form-control agencia" id="name2" placeholder="Nombre" th:field="*{recipientCustomerName}">
                        </div>
                        <div class="mb-3">
                            <label for="selectAgencias" class="form-label">Agencia destino</label>
                            <select class="form-select" id="selectAgencias" aria-label="Default select example" th:field="*{destinationAgencyId}">
                                <option th:each="i : ${agencias}" th:value="${i.agencyId}" th:text="${i.name}">
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Descripcion</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="*{description}"></textarea>
                          </div>
                        <div class="mb-3">
                            <input type="text" th:value="${#authentication.name}" name="username" style="display: none;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <center><div class="form-group" style="margin-top: 1.5rem;">
                        <button type="submit" class="btn text-white" style="background-color: #34495E; margin-right: 1rem;">Guardar</button>
                        <a class="btn text-white" th:href="@{/}" style="background-color: #A93226;">Cancelar</a>
                    </div></center>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
